
body{
    font-size: 12px;
    font-family: arial, sans-serif;
    margin: 0px;
    padding: 0px;
    color: #5f5f5f;
    font-family: Verdana, sans-serif;
    line-height: 19px;
}

.header{
    position: relative;
    height: 130px;
}

.header .slogan{
    position: absolute;
    right: 10px;
    top: 20px;
    font-size: 16px;
    color: #666;
}

.image-header{
    width: 900px;
    height: 225px;
    position: relative;
    overflow: hidden;
}

.image-header img{
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
}

.image-header h1{
    position: absolute;
    left: 388px;
    top: 30px;
    font-size: 38px;
    margin: 0px;
    z-index: 3;
    width: 505px;
}

.image-header p{
    font-family: Georgia, serif;
    font-style: italic;
    font-size: 18px;
    position: absolute;
    top: 90px;
    left: 388px;
    color: #5f5f5f;
    margin: 0px;
    z-index: 3;
    width: 505px;
}


.body_wrapper{
    position: relative;
    width: 900px;
    margin: 20px auto;
    min-height: 1100px;
}

.body_wrapper .shadow-left{
    position: absolute;
    top: 225px;
    left: -37px;
    width: 37px;
    height: 500px;
    background-image: url(../img/content-shadow-left.png);
}


.body_wrapper .shadow-right{
    position: absolute;
    top: 225px;
    right: -37px;
    width: 37px;
    height: 500px;
    background-image: url(../img/content-shadow-right.png);
}

h1, h2, h3, h4, h5{
    color: rgb(0,143,71);
    letter-spacing: -1px;
    font-weight: 600;
}


h1 {
	line-height:0.5em;
	color: #008F47;
    font-weight: 600;
    letter-spacing: -1px;
    line-height: 28px;
    margin-bottom: 8px;
}

h2 {
	font-family:Georgia, "Times New Roman", Times, serif;
	color:#5F5F5F !important;
	font-size:15px;
	font-style: italic;
	font-weight:100;
    padding-bottom: 12px;
    border-bottom: 1px solid #5F5F5F;
    font-weight: 300;
    letter-spacing: 0px;
    line-height: 15px;
    margin-top: 8px;
}

h3 {
	font-family:Verdana, Geneva, sans-serif;
	color: #008F47;
	font-weight: 600;
	font-size:15px;
    margin: 17px 0 8px 0;
    line-height: 22px;
}

h4 {
	font-family:Verdana, Geneva, sans-serif;
	color: #008F47;
	font-weight: 600;
	font-size:18px;
    margin: 17px 0 8px 0;
    line-height: 24px;
}


a, a:visited{
    color: rgb(0,143,71);
}

.logo{
    position: absolute;
    left: 3px;
    top: 15px;
    width: 107px;
    height: 76px;
}

img{
    border: 0px solid #FFF;
}

.main-menu{
    background-image: url(../img/navi-bg.png);
    background-repeat: repeat-x;
    margin-top: 55px;
    float: right;
    height: 36px;
    position: relative;
    min-width: 280px;
}

.main-menu .zapfen{
    width: 36px;
    height: 36px;
    left: -36px;
    top: 0px;
    position:absolute;
}

.main-menu > ul{
    margin: 0px;
    padding: 0px 0px;
}

.main-menu > ul > li{
    list-style: none;
    display: inline-block;
    color: #FFF;
    padding: 9px 10px 10px;
    text-decoration: none;
    height: 16px;
    line-height: 17px;
}

.main-menu > ul > li.ancestor,
.main-menu > ul > li.selected{
    -webkit-box-shadow: 0px 0px 12px #12260f inset;
    -moz-box-shadow: 0px 0px 12px #12260f inset;
    box-shadow: 0px 0px 12px #12260f inset;
}

.main-menu > ul > li a,
.main-menu > ul > li a:visited{
    text-decoration: none;
    font-size: 14px;
    color: #FFF;
}

.main-menu > ul > li ul{
    position: absolute;
    height: 36px;
    margin: 0px;
    padding: 0px 0px;
    bottom: -42px;
    width: 600px;
    right: 0px;
    text-align: right;
}

.main-menu > ul > li ul li{
    list-style: none;
    display: inline-block;
    color: #999;
    padding: 3px 7px 3px 10px;
    text-decoration: none;
    height: 12px;
    line-height: 12px;
    border-left: #AAA 1px solid;
}


.main-menu > ul > li ul li a:visited,
.main-menu > ul > li ul li a{
    text-decoration:none;
    font-size: 11px;
    color: #999;
}

.main-menu > ul > li ul li.selected{
    font-weight:bold;
}

.main-menu > ul > li ul li.selected a:visited,
.main-menu > ul > li ul li.selected a{
    color: #529243;
}

.main-menu > ul > li ul :first-child{
    border-left: #AAA 0px solid !important;
}

.cms-main-column{
    width: 585px;
    margin: 3px 50px;
    float: left;
}

.cms-main-column p{
	margin-top:20px;
}

.cms-right-column{
    width: 230px;
    position: absolute;
    right: -15px;
    top: 23px;
    height: 650px;
    border-left: 1px solid #CCC;
    line-height: 15px;
}

.green-button{
    background-image: url(../img/buttons.png);
    width: 55px;
    height: 23px;
    background-repeat: no-repeat;
    text-align: center;
    color: #FFF;
    border: 0px solid #FFF;
    font-size: 11px;
    background-color: transparent;
    cursor: pointer;
}

.green-button:hover{
    background-position: 0 -25px;
}

.cpm-online{
    display: block;
    width: 229px;
    height: 166px;
    background-image: url(../img/box-cpm-online.png);
    margin-bottom: 10px;
    position: relative;
    left: -1px;
}

.feedback-form{
    background-image: url(../img/box-schnellhilfe.png);
    background-repeat: no-repeat;
    display: block;
    width: 185px;
    height: 247px;
    margin-bottom: 10px;
    position: relative;
    left: -1px;
    padding: 15px 22px;
}

.feedback-form h3{
    position: relative;
    margin: 0px 0 17px 28px;
    color: #222;
    height: 16px;
    font-size: 16px;
    line-height: 16px;
}

.feedback-form p{
    margin: 6px 0px 8px 0px;
    color: #222;
    font-size: 11px;
}

.feedback-form input{
    border: 1px solid #CCC;
    padding: 5px;
    width: 170px;
    color: #999;
    margin-bottom: 5px;
}

.feedback-form span{
    color: #222;
    font-size: 11px;
}

.feedback-form button{
    float: right;
}

.schnellhilfe{
    background-image: url(../img/nothotline-rechts.png);
    display: block;
    width: 229px;
    height: 127px;
    margin-bottom: 10px;
    color: #FFF;
    position: relative;
    padding: 1px;
    background-repeat: no-repeat;
    position: relative;
    left: -1px;
}

.schnellhilfe h3{
    position: relative;
    margin: 20px 0 18px 50px;
    color: #FFF;
    height: 16px;
    font-size: 16px;
    line-height: 16px;
}

.schnellhilfe p{
    margin: 6px 0 6px 20px;
}

.schnellhilfe a:visited,
.schnellhilfe a{
    color: #FFF;
}


.footer{
    background-color: #119644;
    width: 100%;
    height: 55px;
    position: relative;
    z-index: 999;
    background-image: url(../img/footer-bg-300px.png);
    background-repeat: repeat-x;
    color: #FFF;
}

.footer a,
.footer a:visited{
    color: #FFF;
    text-decoration: none;
}

.footer .content_area{
    position: relative;
    width: 950px;
    height: 55px;
    margin: 0px auto;
}

.footer .hotline-header{
    position: absolute;
    font-size: 14px;
    left: 30px;
    top: 19px;
}

.footer .copyright{
    font-size: 10px;
}

.footer .legal{
    position: absolute;
    top: 18px;
    right: 27px;
    font-size: 12px;
    text-align: right;
    width: 300px;
}

.footer .legal ul{
    margin-top: 2px;
    padding: 0px;
}

.footer .legal ul li{
    list-style: none;
    border-left: 1px solid #DDD;
    display: inline-block;
    padding: 0px 5px 0px 9px;
    margin: 0px;
}

.footer .legal ul :first-child{
    border-left: 0px solid #DDD;
}


.left {
    float: left;
    margin: 0 30px 10px 0;
}

.right {
    float: right;
    margin: 0 0 10px 30px;
}